{% extends 'header.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Documento {{nome.split('_', 1)[1].replace('_', ' ')}} </h1>
        <h2>Documento carregado:</h2>
        <a class="btn btn-success" href="{{ url_for('static', filename='uploads/user/original/' ~ doc.nome_documento ~ '.csv')}}" download>
            Baixar arquivo original
        </a>
        <h2>Previsões:</h2>
        {% if not predito %}
            <p>Não há previsões disponíveis.</p>
            <form method="post">
                <button type="submit" class="btn btn-primary">Prever</button>
            </form>
        {% else %}
            <a class="btn btn-success" href="{{ url_for('static', filename='uploads/sys/pred/' ~ nome ~ '_pred.csv') }}" download>
            Baixar predições
            </a>
            <a class="btn btn-success" href="{{ url_for('static', filename='uploads/sys/pred/' ~ nome ~ '_grupos_risco.csv') }}" download>
            Baixar relatórios de grupos de risco
            </a>
            <form method="post">
                <button type="submit" class="btn btn-primary">Refazer predições</button>
            </form>

            <h2>Gráficos:</h2>
            <h3>O que mais impacta seu churn</h3>
            <img src="{{ fig_importance }}" alt="Media de Previsões" class="img-fluid mt-3">
            <h3>Grupos de Risco</h3>
            <img src="{{ fig_riscos }}" alt="Grupo de Riscos" class="img-fluid mt-3">
            

        {% endif %}

    </div>
{% endblock %}